env/
chatbot/media/uploaded_files
chatbot/rag/data
.env
.venv
venv/

# DATABASES ARE IGNORED
chatbot/rag/chroma/
chatbot/db.sqlite3
*.sqlite3
chatbot/matching/whoosh_index/

# __pycache__ are ignored
chatbot/rag/__pycache__/
chatbot/rag/views/__pycache__/
chatbot/chatbot/__pycache__/
chatbot/matching/__pycache__/


