env/
chatbot/media/rag_database/
chatbot/rag/data
.env
chatbot/.env
venv/
.venv
venv/

# DATABASES ARE IGNORED
chatbot/rag/chroma/
chatbot/db.sqlite3
*.sqlite3
chatbot/matching/whoosh_index/
chatbot/media/rag_database/
__pycache__/


# __pycache__ are ignored
chatbot/rag/__pycache__/
chatbot/rag/views/__pycache__/
chatbot/chatbot/__pycache__/
chatbot/matching/__pycache__/

.DS_Store

chatbot/rag/evaluation_data/